#header {
    border-bottom: #da291c 2px solid;
    height: 72px;


}

#header .hd_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1410px;
    margin: 0 auto;
    height: 64px;
}

#header .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#header a {}

#header h1 {
    flex: 0 0 156px;
}

#header .gnb>ul {
    display: flex;
    gap: 56px;
}

#header .gnb>ul>li>a {
    display: block;
    line-height: 80px;
    white-space: nowrap;
    font-weight: 600;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li ul {
    position: absolute;
    top: 80px;
    left: 50%;

    transform: translate(-50%, 8px);
    background-color: #fff;

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;
}

#header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}


#header .gnb>ul>li ul a {
    display: block;
    padding: 0 24px;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}

#header .gnb>ul>li ul li~li a {
    border-top: 1px solid #ddd;
}

#header .utils a {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    white-space: nowrap;
}

#header .utils a span {
    margin-top: -3px;
}

.main_visual {
    position: relative;
    z-index: 1;
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 80px);
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.main_news {
    text-align: center;
}

.main_news .inner {
    display: flex;
    gap: 30px;
}

.main_news .inner .itm {
    flex: 1;
}

.main_news .inner .itm img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.main_news .inner .itm strong {
    display: block;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
}

.main_news .inner .itm p {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #8f8f8f;
}

.main_info {
    background: #f9f9f9;
}

.main_info .title h2 {
    text-align: center;
}

.main_info .title p {
    text-align: center;
}

.main_info .inner {
    max-width: 1290px;
}

.main_info .inner .bottom {
    flex: 3;
    display: flex;
    gap: 8px;

}

.main_info .inner .bottom .itm {
    flex: 1;

    position: relative;
}

.main_info .inner .bottom .itm~.itm::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;

    left: -24px;
    background: #ddd;
}


.main_info .inner .bottom .itm strong {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}

.main_info .inner .bottom .itm p {
    margin-top: 24px;
}

.main_info .inner .bottom .itm .date {
    display: block;
    margin-top: 16px;
    font-size: 14px;
}

.main_pr .title h2 {
    text-align: center;
}

.main_pr .title p {
    text-align: center;
}

.main_pr .swiper-wrapper {
    transition-timing-function: linear;
}

.main_pr .slide_wrap .itm img {
    transform: scale(0.9);
    /*여기서 작게 만들어놓고 hover에서 크게 만들면 이미지 잘리지 않는다.*/
    transition: 0.4s;
    /*천천히 커지는거 transition*/
    width: 100%;
    height: 400px;
    object-fit: contain;

}

.main_pr .slide_wrap .itm img:hover {
    transform: scale(1);
    /*그냥 커지는거 transform*/
}

.main_pr .slide_wrap .itm p {
    text-align: center;
}