#header {
    border-bottom: #da291c 2px solid;
    height: 72px;


}

#header .hd_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1410px;
    margin: 0 auto;
    height: 64px;
}

#header .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#header a {}

#header h1 {
    flex: 0 0 156px;
}

#header .gnb>ul {
    display: flex;
    gap: 56px;
}

#header .gnb>ul>li>a {
    display: block;
    line-height: 80px;
    white-space: nowrap;
    font-weight: 600;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li ul {
    position: absolute;
    top: 80px;
    left: 50%;

    transform: translate(-50%, 8px);
    background-color: #fff;

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;
}

#header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}


#header .gnb>ul>li ul a {
    display: block;
    padding: 0 24px;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}

#header .gnb>ul>li ul li~li a {
    border-top: 1px solid #ddd;
}

#header .utils a {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    white-space: nowrap;
}

#header .utils a span {
    margin-top: -3px;
}

.main_visual {
    position: relative;
    z-index: 1;
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 80px);
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}